body{
    background-color: #F9D342;
}

.navbar-dark{
    color: red;
}

.text-left{
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 16px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
}

.text-center{
    padding-top: 40px;
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 38px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1;
}